[manifest]
version = "1.0.0"
priority = 0

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "self.SETTINGS.paused = nil"
position = "after"
payload = "G.F_SKIP_TUTORIAL = G.SETTINGS.MOBILE.skip_tutorial or false"
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = "G.FUNCS.retry_connection = function(e)"
position = "before"
payload = '''
	G.FUNCS.refresh_tutorial = function()
		G.F_SKIP_TUTORIAL = G.SETTINGS.MOBILE.skip_tutorial
	end
'''
match_indent=true
times = 1
